.detailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
  }

.detailscard {
    background-color: #ffffff;
    width: auto;
    height: auto;
    box-shadow: 0px 7px 4px 0px rgba(169, 169, 169, 0.19);
  }

  .donutchart{
    margin-left: 150px;
  }

  .detailscardtitle{
    padding: 15px;
    -webkit-text-stroke-width: thin;
  }

  .table {
    max-height: 17.7rem;
    padding: 0.5rem 0.1rem;
    overflow-y: scroll;
    border-bottom: none !important;
    border-collapse: collapse;
    width: 100%;
    
  }
   tr {
    padding: 1rem;
    font-weight: 300px;

  }
  .table td {
  text-align: center;
  padding: 1.26rem
;
  }
  .table th {
    padding-right: 4rem;
     padding-left: 4rem    ;
     padding-bottom: 0.5rem;
        font-size: 16px !important;
        align-content: center;
        border-bottom: 3px solid #f2f3f7 !important;

  }