.detailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
  }

.detailscard {
    background-color: #ffffff;
    width: auto;
    height: auto;
    box-shadow: 0px 7px 4px 0px rgba(169, 169, 169, 0.19);
  }