.ImagePane {
    display: flex;
    flex-direction:row;
    width:100%;
    padding: 0.5rem;
    border: 1px solid #787878;
  }
  
  .imageTag {
    height: 190px;
    width: 100%;
    padding: 5px;
  }
  .dialog {
    box-shadow: 0 8px 6px -6px black;
    position: static;
    left: 20%;
    top: 10%;
  }
  
  .image {
    width: 800px;
  }
  