.appheader {
    background-color: #332f2f;
    color: cyan;;
    padding: 1.5rem;
    display: flex;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .headertext {
    color: cyan;;
    text-decoration: none;
  }
.appname{
  font-size: large;
}