.filterspane {
  width: 30%;
  /* background-color: antiquewhite; */
  margin: 0 15px 0 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #787878;
  font-weight: 600;
}

.filter {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.dropdown {
  height: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.filtersHeading {
  padding: 15px;
  border-bottom: 2px solid #cccccc;
  font-size: 17px;
  color: #5e5a5a;
}

