.filterspane {
  width: 30%;
  /* background-color: antiquewhite; */
  margin: 0 15px 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #787878;
  font-weight: 600;
}

.filter {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.dropdown {
  height: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.filtersHeading {
  padding: 15px;
  border-bottom: 2px solid #cccccc;
  font-size: 17px;
  color: #5e5a5a;
}

.parentDiv{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.applyButton{
  width:5rem;
  padding:5px;
  height: fit-content;
  background-color: yellow;
  color: black;
  text-align: center;
  cursor: pointer;
}