.appheader {
  background-color: #332f2f;
  color: yellow;
  padding: 1.5rem;
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.headertext {
  color: yellow;
  text-decoration: none;
}

.countrypointer {
  border: #f6f6fa;
  border-width: 3px;
  border-radius: 20.5px;
  background-color: #2f1c52;
  /* width: 25px;
  height: 25px; */
  color: #ffffff;
  font-size: 14px;
  /* letter-spacing: 0; */
  /* line-height: 12px; */
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  border:2px solid rgb(163 130 12);
}

.mapComponent {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.videoComponent {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.AssetComponent {
  width: 25%;
  /* background-color: antiquewhite; */
  /* margin: 0 15px 0 0; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #787878;
  font-weight: 600;
}

.videotag {
  width: 100%;
  /* height: 100%; */
  border: 1px solid #787878;
}

.ImagePane {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0.5rem;
  border: 1px solid #787878;
}

.imageTag {
  height: 190px;
  width: 100%;
  padding: 5px;
}

.screenshotcontrols {
  width: fit-content;
  position: absolute;
  background: #f7f7f7;
  padding: 15px;
  width: fit-content;
  position: absolute;
  background: #787878;
  padding: 5px;
  /* border-radius: 10px; */
  left: 300px;
  top: 73px;
}

.screenshotbtn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.assetHeading{
  padding:15px;
  border-bottom: 1px solid #cccccc;
  font-size: 17px;
  color: #5e5a5a;
}

.assetRow{
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 10px;
  height: 5rem;
  align-items: center;
 
}
.assetDigit{
  border-radius: 50px;
  width: fit-content;
  min-height: 15px;
  max-height: 15px;
  min-width: 15px;
  max-width: 15px;
  color:white;
  background-color: #747480;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.assettext{
  padding:10px;
}

.measureTooltipClass {
  background-color: white;
  max-height: 30rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index:200;
}

.ol-tooltip-measure {
  background-color: white;
  color: white;
}