.countrypointer {
  border: #f6f6fa;
  border-width: 3px;
  border-radius: 20.5px;
  background-color: #2f1c52;
  /* width: 25px;
  height: 25px; */
  color: #ffffff;
  font-size: 14px;
  /* letter-spacing: 0; */
  /* line-height: 12px; */
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  border:2px solid rgb(163 130 12);
}

.mapComponent {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px);
  /* height: 100vh; */
}

.mapol {
  width: 100%;
}

.videoPage {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.VideoSection {
  width: 74%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.mapcumvideosection {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.videotag {
  width: 50%;
  height: calc(100vh - 290px);
  border: 1px solid #787878;
}

.screenshotcontrols {
  width: fit-content;
  position: absolute;
  background: #f7f7f7;
  padding: 15px;
  width: fit-content;
  position: absolute;
  background: #787878;
  padding: 5px;
  /* border-radius: 10px; */
  left: 300px;
  top: 73px;
}

.screenshotbtn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.measureTooltipClass {
  background-color: white;
  max-height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index:200;
}

.plantHeader{
  padding:15px;
  border-bottom: 2px solid #cccccc;
  font-weight: 600;
  color: #787878;
  width:100%;
}


.tablePlant {
  margin: 3px !important;
}

.tablePlant tr {
  border-bottom: 1px solid #cccccc;
}
.tablePlant td {
  font-size: 15px;
  padding: 1rem;
}

.tablePlant th {
  padding: 1rem;
}

.tablePlant td:nth-child(3) {
  color: #4c82c6;
  cursor: pointer;
}
.PopupData{
  display: flex;
}
.spacer{
  flex-grow: 1;
}
.closebar{
  cursor: pointer;
  padding:5px;
  margin-top:15px;
  margin-right:15px;
}


