.countrypointer {
  border: #f6f6fa;
  border-width: 3px;
  border-radius: 20.5px;
  background-color: #35a4e8;
  /* width: 25px;
  height: 25px; */
  color: #ffffff;
  font-size: 14px;
  /* letter-spacing: 0; */
  /* line-height: 12px; */
  cursor: pointer;
  width: fit-content;
  padding: 10px;
}

.mapComponent {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

.mapol {
  width: 100%;
}

.videoPage {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.VideoSection {
  width: 74%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.mapcumvideosection {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.videotag {
  width: 50%;
  height: calc(100vh - 290px);
  border: 1px solid #787878;
}

.screenshotcontrols {
  width: fit-content;
  position: absolute;
  background: #f7f7f7;
  padding: 15px;
  width: fit-content;
  position: absolute;
  background: #787878;
  padding: 5px;
  /* border-radius: 10px; */
  left: 300px;
  top: 73px;
}

.screenshotbtn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

